NODE_ENV=development

LOGGER_LEVEL=debug
LOGGER_FORMAT=pretty

# App
API_PORT=4000

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/neuraflow-backend

# Auth
JWE_SECRET=66wq6eEmFUEtUDnuIlIbr2yVAluneq6r
JWT_EXPIRES_IN=24h
