NODE_ENV=development

LOGGER_LEVEL=debug
LOGGER_FORMAT=pretty

# App
API_PORT=4000

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/neuraflow-backend

# Auth
JWE_SECRET=66wq6eEmFUEtUDnuIlIbr2yVAluneq6r
JWT_EXPIRES_IN=24h

# Auth token expiration in hours
AUTH_TOKEN_EXPIRATION_HOURS=24

#Prometheus
PROMETHEUS_URL=http://10.200.40.10:9090
PROMETHEUS_TIMEOUT_MS=4000

# Kafka
KAFKA_BROKERS=10.200.40.10:9092,10.200.40.11:9092,10.200.40.12:9092,10.200.40.13:9092,10.200.40.14:9092
KAFKA_EEG_TOPIC=eeg_data

# Ray
RAY_HEAD_URL=http://10.200.40.10:8265
RAY_SERVE_BASE_URL=http://10.200.40.10:8000
RAY_WEBHOOK_SECRET=66wq6eEmFUEtUDnuIlIbr2yVAluneq6r
RAY_TRAIN_SCRIPT_PATH=/opt/neuraflow/train.py
RAY_WEBHOOK_URL=http://10.200.40.22:4000/api/v1/internal/webhook/ray
RAY_SERVE_SCRIPT_PATH=/opt/neuraflow/serve_model.py
RAY_SERVE_SCRIPT_DIR=/opt/neuraflow
RAY_STARTING_TIMEOUT_MS=600000
RAY_SYNC_INTERVAL_MS=5000
